<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
   <mat-card fxFlex="100%">
      <div class="gene-card-title">
         <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
               <h4>{{'Add New Category'|translate}}</h4>
            </div> <span fxFlex></span>
         </div>
         <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content">
         <form [formGroup]="form">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                  <mat-form-field class="full-wid mrgn-b-md">
                     <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                  <small class="gene-block" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
                     class="warn-text">
                     You must include a first name.
                  </small>
                  <small class="gene-block" *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched"
                     class="warn-text">
                     Your first name must be at least 5 characters long.
                  </small>
                  <small class="gene-block" *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched"
                     class="warn-text">
                     Your first name cannot exceed 10 characters.
                  </small>
               </div>
               <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
                 
                  <input type="file"  name="myFile" (change)="fileEvent($event)"/>
                 
               </div>
            </div>
            <div class="pad-wrap">
               <mat-card-actions>
                  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
               </mat-card-actions>
            </div>
         </form>
      </div>
   </mat-card>
</div>